<footer class="footer navbar-fixed-bottom">
  <small> Copyright &copy; Meeblog by <a href="https://github.com/maikol88">Miguel Saldana</a> using </small>
  <%= link_to image_tag("rails-logo.png", alt: "rails-logo", class: "rails-logo-small"), 'http://rubyonrails.org/' %>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
